@use '../constants' as *;
@use "sass:color" as *;

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
    padding: 1rem 0;
    border-radius: 0.5rem;
}

.button-primary {
    font: $defaultFontSemiBold;
    font-size: 1rem;
    background-color: $primaryCyan;
    color: $neutralWhite;
}

.button-primary:hover {
    background-color: scale-color($primaryCyan,
        $lightness: -50%);
}